@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100..700;1,100..700');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

@import "tailwindcss";
@plugin "daisyui" {
  themes: cupcake --default, sunset --prefersdark;
};

body {
  font-family: 'Josefin Sans', sans-serif antialiased;
}

.logo {
    font-family: 'Ephesis', sans-serif;
}

.raleway {
    font-family: 'Raleway', sans-serif;
}